{% extends 'client/layouts/base.html'%}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block head %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
{% endblock %}

{% block title %}ChatBot{% endblock %}


{% block scripts %}
    {{block.super}}
    <script>
        const DJANGO_STATIC_URL = "{% get_static_prefix %}";
        const specelization_map = JSON.parse('{{ specelization_map|escapejs }}');
        const hospitalsInfo = JSON.parse('{{ hospitals_docs|escapejs }}');
    </script>
    <script src="{% static 'js/htmx/htmx.js' %}"></script>
    <script src="{% static 'js/pages/booking.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    <script></script>
    
{% endblock %}


{% block content %}
        <div id="booking" class="form-wrapper container">
            <h1 class="text-center pt-4 pb-4">Make an appointment</h1>

            <div class="form container d-flex  w-100">
                <div class="left-side d-none d-md-block">
                    <div class="filters-wrapper position-fixed">
                      {{booking_filters_form|crispy}}
                    </div>
                </div>
            <div class="right-side container w-100 bg-blue">
                <div class="doctors-list-wrapper d-flex flex-wrap">
                  
                </div>   
            </div>
        </div>
          
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Schedule Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="POST">
                    {% csrf_token %}
                    {{ booking_info_form.media }}
                    {{ booking_info_form.appointment_date_time |as_crispy_field  }}
                  </form>
                  <div class="alert alert-danger d-none" role="alert">
                    Something went wrong, please try again.
                  </div>
                  <div class="alert alert-success d-none" role="alert">
                    You are all set up!, you may close this window now.
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button id="confirm-appointment-btn" class="btn btn-primary overflow-hidden text-nowrap" type="button">
                    <i class="bi bi-check-circle"></i>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="overflow-hidden d-inline-flex btn-text">Confirm</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          {% comment %} <form action="" method="post">
            {{ booking_info_form.as_p }}
          </form>
           {% endcomment %}

           

        {% comment %} <div class="input-group" id="kt_td_picker_simple" data-td-target-input="nearest" data-td-target-toggle="nearest">
          <input id="kt_td_picker_basic_input" type="text" class="form-control" data-td-target="#kt_td_picker_basic"/>
          <span class="input-group-text" data-td-target="#kt_td_picker_basic" data-td-toggle="datetimepicker">
            <i class="bi bi-calendar"></i><span class="path1"></span><span class="path2"></span></i>
          </span>
        </div> {% endcomment %}




{% endblock %}

    