{% extends 'client/layouts/base.html'%}
{% load static %}

{% block head %}
    {{ block.super }}
    
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    
{% endblock %}

{% block title %}ChatBot{% endblock %}


{% block scripts %}
    <script>
        const csrftoken = "{{ csrf_token }}"
    </script>
    {{block.super}}
    <script src="{% static 'js/pages/chatbot.js' %}"></script>
{% endblock %}
    

{% block content %}

<div id="chatbot" class="chat-wrapper container">
    <div id="chatlog" class="chatbox d-flex flex-column">
        <div class="mssg new">
            <p class="mssg-content m-0">{{ greeting }}</p>
        </div>
    </div>
    <div class="input-wrapper d-flex align-items-center p-2 container p-0 position-fixed rounded">
        <textarea id="user-input" class="input-mssg-area rounded bg-transparent  m-0 w-100 border-0" tabindex="0" rows="1" placeholder="Describe your case..."></textarea>
        <span class="send-mssg-btn align-self-stretch d-flex align-items-center"><i class="bi bi-send"></i></span>
    </div>
</div>
{% endblock %}