{% extends "admin/change_form.html" %}


{% block content %}
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-lg-9">
        <div class="card">
          <div class="card-body">
            <h4>User's Medical Record</h4>
            <ul>
              <li>Height: {{ users_medical_record.height }}</li>
              <li>Weight: {{ users_medical_record.weight }}</li>
              <li>Blood Type: {{ users_medical_record.get_blood_type_display }}</li>
              <li>Gender: {% if users_medical_record.gender %}Male{% else %}Female{% endif %}</li>
              <li>Phone Number: {{ users_medical_record.phone_num }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ block.super }}
{% endblock %}



{% block submit_buttons_bottom %}
  {% comment %} <div class="form-group">
    <input type="submit" value="Save" class="btn btn-success form-control" name="_save">
  </div> {% endcomment %}
  {{ block.super }}
{% endblock %} 















{% comment %} 
{% block submit_buttons_bottom %}
  <div class="submit-row">
    <div class="submit-row-inner">
      <div style="display: flex; align-items: flex-start;">
        <a href="{% url 'admin:index' %}" class="closelink">Close</a>
        <input type="submit" value="{% trans 'Save' %}" class="default col-12 col-lg-3" name="_save" style="margin-left: 10px; margin-top: 0;" />
        <input type="submit" name="action" value="{% trans 'Custom Action' %}" class="default col-12 col-lg-3" style="margin-left: 10px; margin-top: 0;" />
      </div>
      {% block submit_buttons_extra %}
        {{ block.super }}
      {% endblock %}
    </div>
  </div>
{% endblock %} {% endcomment %}