{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>    
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div id="root">
      {% include 'components/header.html' %}
      <main id="main-content" class="position-relative d-flex align-items-center">
          <div class="form-wrapper container">
            <div class="form d-flex h-100 w-100">
                <div class="left-side d-none d-md-block">
                  {% block left_side %}{% endblock %}
                </div>
                <div class="right-side">
                  {% block right_side %}{% endblock %}
                </div>
            </div>
          </div>
      </main>
  </div>
    
    {% block scripts %}
      <script>
        const csrftoken = "{{ csrf_token }}"
      </script>
      <script src="{% static 'js/authentication/index.js' %}"></script>
    {% endblock scripts %}
</body>
</html>