<div class="input-text">
    <span id="invalid-code" class="text-danger pb-4 opacity-0">Code is invalid</span>
    <div class="input-div">
        <div class="ver-code-wraper row">
            <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" autocomplete="one-time-code" class="ver-code-digit form-control col" id="otc-1" required require>
            <span class="digit-splitter"></span>
            <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" autocomplete="one-time-code" class="ver-code-digit form-control col" required require>
            <span class="digit-splitter"></span>
            <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" autocomplete="one-time-code" class="ver-code-digit form-control col" required require>
            <span class="digit-splitter"></span>
            <input type="number" pattern="[0-9]*"  value="" inputtype="numeric" autocomplete="one-time-code" class="ver-code-digit form-control col" required require>
        </div>
    </div>
</div>