:root{
    /* --bgcolor: #191E2E; */
    /* --bgcolor: #141C26; */
    /* --bgcolor: #01060D; */
    --bgcolor: #17212B;
    --secondary-color: #0E1621;
    --bot-bg-message: #1B3947;
    --header-height: 70px;
}

/* *{
    color:white;
} */

body{
    background-color: var(--bgcolor) !important;
    min-height: 100%;
}

#root{
    height: 100vh;
    padding: 50px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#header{
    margin-top: -50px;
    height: 70px;
    font-size: 1.5em;
    margin-bottom: 50px;
    /* left: 50%;
    transform: translateX(-50%);
    z-index: 999; */
}

#header a{
    text-decoration: none;
    color: white;
}

#header .offcanvas{
    background-color: #0E1621;
    background-color: #17212B;
}


#header .navbar-wrapper{
    height: 100%;
}



.navbar-item.active-page{
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
    background: #0075FF;
}


#header .navbar-primary .navbar-item .nav-link:after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    /* background-color:#259CD8; */
    background-color: #0075FF;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

#header .navbar-primary .navbar-item.active-page .nav-link:after,
#header .navbar-primary .navbar-item:hover .nav-link:after
{
    transform: scaleX(1);
}



/* .navbar-left{
    width: 170px;
} */

#main-content{
    min-height: 90%;
}
.navbar-toggler{
    background: white !important;
}
/* #footer{
    margin-bottom: -50px;
    height: 50px;
} */



@media screen and (max-width: 768px) {
    /* @media screen and (max-width: 576px) { */
        #header{
            height: 30px;
        }
    }
